<footer class="footer footer_grey">
	<div class="container">
		<div class="footer-top flex">
			<div class="footer__item">
				<div class="footer__title">ИНВЕНКАРДИО</div>
				<ul class="footer__menu">
					<li><a href="#">О компании</a></li>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Гарантии</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<div class="footer__title">NuMED</div>
				<ul class="footer__menu">
					<li><a href="#">О производителе</a></li>
					<li><a href="#">Поставки</a></li>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Сотрудничество</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<div class="footer__title">UROTECH</div>
				<ul class="footer__menu">
					<li><a href="#">О производителе</a></li>
					<li><a href="#">Поставки</a></li>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Сотрудничество</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<div class="footer__tel">
					+7 (499) 500-44-99
				</div>
				<div class="footer__adress">
					г. Москва, 2й Хорошевский проезд, дом 7, 2 подъезд, 5-й этаж, офисы 507, 514
				</div>
				<div class="footer__mail">
					info@invencardio.ru
				</div>
			</div>
		</div>
		<div class="footer-bottom clearfix">
			<div class="pull-left">
				2017 © ООО «ИНВЕНКАРДИО»
			</div>
			<div class="pull-right">
				Разработка сайта – WebSigma
			</div>
		</div>
	</div>
</footer>