<header class="header header_grey">
	<div class="header-top">
		<div class="container">
			<div class="pull-left">
				<div class="dropdown-btn dropdown-toggle visible-xs">
					<div class="icon-bar middle"></div>
					<div class="middle">Меню</div>
				</div>
				<ul class="nav nav_black clearfix">
					<li><a href="#">Главная</a></li>
					<li><a href="#">О компании</a></li>
					<li class="current"><a href="#">Каталог</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Гарантии</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="pull-right">
				<div class="telephone middle">+7 (499) 500-44-99</div>
				<a href="#" class="btn btn-yellow btn-small btn-circle hidden-md">Онлайн заявка</a>
			</div>
		</div>
	</div>
	<div class="mobile-order visible-md">
		<a href="#">
			<span class="middle">Онлайн заявка</span>
			<span class="count-order">2</span>
		</a>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="pull-left">
				<div class="logo">
					<a href="#" class="middle">
						<img src="img/logo.png" alt="">
					</a>
					<span class="logo__descr middle">
						Поставки медицинских расходных <br> материалов из Германии
					</span>
				</div>
			</div>
			<div class="pull-right">
				<div class="search">
					<form action="">
						<input type="text" class="search-field" placeholder="Поиск">
						<button type="submit" class="search-btn"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>