<header class="header">
	<div class="container">
		<div class="pull-left">
			<div class="dropdown-btn dropdown-toggle visible-xs">
				<div class="icon-bar middle"></div>
				<div class="middle">Меню</div>
			</div>
			<ul class="nav clearfix">
				<li><a href="#">Главная</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Гарантии</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="pull-right telephone">
			+7 (499) 500-44-99
		</div>
	</div>
</header>