@import "partials/reset";
@import "partials/grid";
@import "partials/fonts";
@import "partials/carousel";
@import "partials/modal";
@import "partials/fancybox";
@import "partials/variable";

body{
	font-size: 14px;
	font-family: $roboto;
	line-height: 1.2;
}
b,
strong{
	font-weight: bold;
}
i{
	font-style: italic;
}
.page-title{
	font-size: 40px;
  line-height: 1.2;
  color: #4a4a4a;
  margin-bottom: 30px;
}

.header{
	background: $blue;
	color: #fff;
	padding: 15px 0;

	&_grey{
		color: #4a4a4a;
		padding: 0 !important;
		background: none;
		border-bottom: 16px solid #cfd1d2;

		.btn{
			margin-left: 25px;
		}
		.icon-bar{
			background: url(../img/menu-ye-24.png)no-repeat;
		}
	}
	&_blue{
		padding: 0 !important;
		background: none;
		color: #fff;
		border-bottom: 16px solid $blue;

		.header-top{
			background: $blue;
		}
		.btn{
			margin-left: 25px;
		}
	}
	&-top{
		background: #f3f3f3;
		padding: 8px 0;
	}
	&-bottom{
		padding: 35px 0;
	}
}
.logo{
	&__descr{
		margin-left: 25px;
		font-size: 14px;
  	font-weight: 500;
	  line-height: 1.43;
	  color: #4a4a4a;
	}
}
.search{
	width: 270px;
	position: relative;

	&-field{
		display: block;
		width: 100%;
		height: 38px;
		border-radius: 3px;
	  border: solid 1px #bababa;
	  outline: 0;
	  font-family: $roboto;
	  font-size: 16px;
	  padding-left: 15px;
	  padding-right: 30px;
	}
	&-btn{
		position: absolute;
		z-index: 2;
		width: 24px;
		height: 24px;
		right: 10px;
		top: 50%;
		margin-top: -12px;
		border: 0;
		cursor: pointer;
		background: url(../img/search.png)no-repeat;

		&_blue{
			background: url(../img/search-24.png)no-repeat;
		}
	}
}


.nav{
	font-weight: bold;

	li{
		float: left;
		text-transform: uppercase;

		+ li{
			margin-left: 30px;
		}

		a{
			color: #fff;
		}
	}
	&_blue{
		margin-top: 12px;

		li{
			position: relative;

			&.current,
			&:hover{
				&:after{
					content: "";
					display: block;
					position: absolute;
					z-index: 2;
					bottom: -18px;
					left: 0;
					width: 100%;
					height: 4px;
					background: #fff;
				}
			}
			a{
				color: #fff;
				display: block;
			}
		}
	}
	&_black{
		margin-top: 12px;

		li{
			position: relative;

			&.current,
			&:hover{
				&:after{
					content: "";
					display: block;
					position: absolute;
					z-index: 2;
					bottom: -18px;
					left: 0;
					width: 100%;
					height: 4px;
					background: $yellow;
				}
			}
			a{
				color: #4a4a4a;
				display: block;
			}
		}
	}
}
.telephone{
	font-weight: bold;
	font-size: 16px;
}
img{
	max-width: 100%;
	height: auto;
}
.heart{
	position: absolute;
	right: 0;
	top: 45px;
}
.banner{
	height: 640px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #fff;
  overflow: hidden;
  position: relative;

  &__text{
  	max-width: 550px;
  }

  &__title{
  	font-size: 56px;
  	font-weight: 500;
  	text-transform: uppercase;
  	margin-bottom: 20px;
  }
  &__descr{
  	font-size: 24px;
  	margin-bottom: 55px;
  }
}
.btn{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	border-radius: 100px;
	padding: 17px 30px;
	min-width: 250px;
	cursor: pointer;
	border: 0;
	outline: 0;
	text-align: center;

	&-white{
		color: $blue;
		background: #fff;
		text-transform: uppercase;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	}
	&-blue{
		color: #fff;
		background: $blue;
		text-transform: uppercase;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
		font-weight: normal;
	}
	&-small{
		padding: 8px 25px;
		font-size: 14px;
	  font-weight: 700;
	  text-align: center;
	  color: #1c1c1c;
	  line-height: 1.7;
		min-width: inherit;
		text-transform: uppercase;
	}
	&-circle{
		border-radius: 30px;
	}
	&-yellow{
		background-color: #fad000;

		&_shadow{
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
		}
	}
	&-white-top{
		background-color: #fff;
		color: $blue;
	}
}
.catalog{
	&__item{
		height: 385px;
	  color: #fff;
	  position: relative;

		&_left{
			background: $blue url(../img/numed-item.jpg)no-repeat right center;

			.catalog__content{
				position: absolute;
				z-index: 2;
				right: 0;
				top: 0;
				width: 630px;
			}
		}
		&_right{
			background: linear-gradient(294deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), linear-gradient(#009af9, #009af9);

			&:after{
				content: "";
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 532px;
				height: 330px;
				background: url(../img/hameleon.png)no-repeat;
			}
		}
	}
	&__list{
		li{
			+
			li{
				margin-top: 20px;
			}
		}
		a{
			text-transform: uppercase;
			font-size: 16px;
			color: #fff;

			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__content{
		padding: 60px 80px;
		position: relative;
		z-index: 3;
	}
}
.logo-item{
	margin-bottom: 25px;
}
.text-block{
	padding: 90px 0;
	line-height: 1.5;
  color: #4a4a4a;
  font-size: 16px;
}
.text-img{
	height: 335px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	position: relative;

	&:before{
		content: "";
		display: block;
		width: 80px;
		height: 80px;
		background: $blue;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
		left: -40px;
		bottom: -40px;
	}
}
.item-title{
	font-size: 40px;
	text-transform: uppercase;
	color: #4a4a4a;
	padding-top: 35px;
	position: relative;
	margin-bottom: 40px;

	&:before{
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		border-radius: 50%;
		background: #009af9;
		left: -30px;
		top: 10px;
	}
	&_center{
		text-align: center;

		&:before{
			content: none;
		}
	}
	&_adv{
		margin-bottom: 60px;
	}
}
.item-link{
	font-size: 15px;
	color: $blue;
	font-weight: 500;
	text-transform: uppercase;
}
.advantages{
	&_inner{
		margin: 65px 0;
	}
	&-footer{
		margin-top: 20px;
		text-align: center;
		color: #4a4a4a;
		font-size: 15px;

		p{
			margin-bottom: 15px;
			line-height: 1.6;
		}
	}
	&__item{
		height: 230px;
		background-size: cover;
		background-position: 50%;
		color: #fff;
		padding: 30px 25px;
		background-size: cover;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;

		h4{
			font-size: 21px;
			font-weight: bold;
			height: 50px;
			overflow: hidden;
		}
		p{
			font-size: 15px;
			line-height: 1.6;
			max-width: 210px;
		}
	}
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.tab-links{
	text-align: center;
	margin-bottom: 45px;
}
.nav-tabs{
	display: inline-block;
	border-bottom: 2px solid #f1f1f1;

	> li{
		width: 210px;
		text-align: center;
		font-size: 19px;
		float: left;

		&.active{
			a{
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 4px;
					background: $blue;
					left: 0;
					position: absolute;
					z-index: 2;
					bottom: -2px;
				}
				// border-color: $blue;
			}
		}

		a{
			color: #4a4a4a;
			display: block;
			padding: 15px 0;
			position: relative;
			// border-bottom: 4px solid transparent;
		}
	}
}
.partners{
	&-carousel{
		text-align: center;
		margin-bottom: 35px;
	}
	
	&-img{
		height: 105px;
		line-height: 105px;

		img{
			max-height: 105px;
			vertical-align: middle;
		}
	}
	&-name{
		font-size: 18px;
	  font-weight: 500;
	  color: #4a4a4a;
	  height: 42px;
	  overflow: hidden;
	  margin-bottom: 8px;
	}
	&-link{
		font-size: 14px;
		font-weight: 400;
		text-transform: none;

		.item-link{
			font-size: 14px;
			font-weight: 400;
			text-transform: none;
		}
	}
}
.btn-item{
	text-align: center;
}
.flex{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.feedback{
	padding: 80px 0;
	background: #fafafa;

	&_blue{
		background: #ccebfe;
	}

	&-title{
		font-size: 16px;
	  line-height: 1.5;
	  text-align: center;
	  color: #4a4a4a;
	  max-width: 940px;
	  margin: auto;
	  margin-bottom: 40px;
	}
	&__form{
		max-width: 830px;
		margin: auto;
	}
}
.form-control{
	display: block;
	width: 100%;
	height: 38px;
	border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #bababa;
  padding: 0 15px;
  font-size: 16px;
  font-family: $roboto;
}
.label-item{
	font-size: 14px;
  line-height: 1.14;
  color: #4a4a4a;
  margin-bottom: 10px;

  &_check{
  	margin-bottom: 25px;
  }
}
.form-group{
	margin-bottom: 35px;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
  position: relative;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 40px; 
  font-size: 14px;
  line-height: 1.14;
  color: #4a4a4a;
  font-family: $roboto;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #bababa;
}
.checkbox:checked + label:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  left: 5px;
  top: -1px;
  background: url(../img/chech-16.png)no-repeat;
}
.checkbox-item{
	min-height: 24px;
	margin-bottom: 15px;
}
textarea.form-control{
	resize: none;
	padding: 15px;
	height: 270px;
}
.info-text{
	font-size: 16px;
  line-height: 1.5;
  margin-top: 30px;
  text-align: center;
  color: #4a4a4a;

  a{
  	color: $blue;

  	&:hover{
  		text-decoration: underline;
  	}
  }
  &_black{
  	a{
  		color: #4a4a4a;
  	}
  }
}
.footer{
	background: $blue;
	color: #fff;

	&-bottom{
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		border-top: 1px solid #fff;
		padding: 15px 0;
	}
	&-top{
		padding: 55px 0;
	}
	&__item{
		width: 215px;
	}
	&__title{
		font-size: 16px;
	  font-weight: bold;
	  line-height: 1.5;
	  color: #ffffff;
	  padding-bottom: 10px;
	  border-bottom: 1px solid #fff;
	  margin-bottom: 20px;
	}
	&__menu{
		li{
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0.5px;

			+ li{
				margin-top: 20px;
			}
		}
		a{
			color: #fff;

			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__tel{
		font-size: 24px;
	  font-weight: 500;
	  line-height: 1.33;
	  margin-bottom: 25px;
	}
	&__adress{
		font-size: 16px;
	  line-height: 1.5;
	  margin-bottom: 25px;
	  font-weight: 300;
	}
	&__mail{
		font-size: 16px;
	  line-height: 1.5;
	  font-weight: 300;
	}
	&_grey{
		background: #f5f5f5;
		color: #4a4a4a;

		.footer-bottom{
			border-top-color: #4a4a4a;
		}
		.footer__title{
			color: #4a4a4a;
			border-color: #4a4a4a;
		}
		.footer__menu a{
			color: #4a4a4a;
		}
	}
}
.dropdown-btn{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.icon-bar{
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background: url(../img/menu-24.png)no-repeat;
}
.middle{
	display: inline-block;
	vertical-align: middle;
}
.breadcrumb{
	margin: 20px 0;
	color: #9b9b9b;
	font-size: 14px;
	font-weight: 500;

	li{
		display: inline-block;
		vertical-align: middle;
	}
	a{
		color: #4a4a4a;
		text-decoration: underline;
	}
	.delimiter{
		margin: 0 5px;
	}
}
.sidebar{
	&__menu{
		> li{
			> a{
				display: block;
				padding: 8px 15px;
				background-color: #f5f5f5;
  			border-bottom: 1px solid #9b9b9b;
  			font-size: 14px;
			  font-weight: 500;
			  line-height: 1.71;
			  color: #4a4a4a;

			  &:hover,
			  &.active{
			  	color: $yellow;
			  	border-bottom-color: $yellow;
			  }
			}
			> ul{
				background: #fafafa;

				> li{
					> ul{
						padding-left: 15px;
						padding-right: 15px;
						display: none;

						a{
							&.current{
								position: relative;
								font-weight: bold;

								&:before{
									content: "";
									display: block;
									width: 16px;
									height: 16px;
									position: absolute;
									z-index: 2;
									left: 3px;
									top: 4px;
									background: url(../img/active-yellow-16.png)no-repeat;
								}
							}
						}
					}
				}

				li{
					padding: 5px 0;
				}

				a{
					padding: 0 25px;
					display: block;
					font-size: 12px;
				  line-height: 2;
				  color: #4a4a4a;

				  &:hover{
				  	color: $yellow;
				  }
				   &.with-drop{
				  	position: relative;

				  	&:before{
				  		content: "";
				  		display: block;
				  		position: absolute;
				  		z-index: 2;
				  		left: 3px;
				  		top: 3px;
				  		width: 16px;
				  		height: 16px;
				  		background: url(../img/roll-down-yellow-16.png)no-repeat;
				  	}
				  	&.active{
				  		&:before{
				  			transform: rotate(180deg);
				  		}
				  	}
				  }
				}
			}
		}
		&_blue{
			> li{
				> a{
					background: $blue;
					color: #fff;

					&.active,
					&:hover{
						color: #fff;
						border-color: #fff;
					}
				}
				> ul{
					a{
					  &:hover{
					  	color: $blue;
					  }
					  &.with-drop{

					  	&:before{
					  		background: url(../img/roll-down-16.png)no-repeat;
					  	}
					  }
					}
					> li{
						> ul{
							a{
								&.current{

									&:before{
										background: url(../img/active-16.png)no-repeat;
									}
								}
							}
						}
					}
				}
			}
			.sidebar-toggle{
				&:after{
					background: url(../img/arrow-up-24.png)no-repeat;
				}
			}
		}
	}
}
.sidebar-toggle{
	position: relative;

	&:after{
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		z-index: 2;
		right: 10px;
		top: 50%;
		margin-top: -12px;
		transform: rotate(180deg);
		background: url(../img/arrow-up-ye-24.png)no-repeat;
	}
	&.active{
		&:after{
			transform: rotate(0);
		}
	}
}
.sidebar-dropdown{
	display: none;
}
.product{
	&__item{
		margin-bottom: 30px;

		&__content{
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12);
		}
	}
	&__img{
		line-height: 200px;
		text-align: center;
		height: 200px;
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12);

		&_no-shadow{
			box-shadow: none;
		}

		img{
			vertical-align: middle;
			max-height: 200px;
		}
	}
	&__name{
		text-align: center;
		font-size: 18px;
	  font-weight: 500;
	  color: #4a4a4a;
	  margin: 15px 0;

	  &_small{
	  	text-align: left;
	  	font-size: 16px;
		  font-weight: 500;
		  line-height: 1.5;
		  text-align: left;
		  color: #4a4a4a;
		  background-color: #f5f5f5;
		  margin: 0;
		  padding: 12px 15px;
	  }
	  &_blue{
	  	background: $blue;
	  	color: #fff;
	  }
	}
}
.page-text{
	h2{
		font-size: 32px;
	  line-height: 1.25;
	  color: #4a4a4a;
	  margin-bottom: 25px;
	}
	p{
		margin-bottom: 30px;
		line-height: 1.5;
	}
	blockquote{
		background-color: #fafafa;
		padding: 32px 25px;
		font-size: 16px;
	  font-weight: 300;
	  font-style: italic;
	  line-height: 1.5;
	  text-align: center;
	  color: #1c1c1c;
	  margin-bottom: 30px;
	}
	h3{
		font-size: 27px;
	  font-weight: bold;
	  line-height: 1.19;
	  color: #4a4a4a;
	  margin-bottom: 25px;
	}
	h4{
		font-size: 19px;
	  line-height: 1.26;
	  color: #4a4a4a;
	  margin-bottom: 15px;
	}
	ul{
		 font-size: 16px;
	  line-height: 1.5;
	  color: #4a4a4a;
	  margin-bottom: 30px;

	  li{
	  	position: relative;
	  	padding-left: 15px;

	  	&:before{
	  		content: "";
	  		display: block;
	  		width: 3px;
	  		height: 3px;
	  		border-radius: 50%;
	  		background: #4a4a4a;
	  		position: absolute;
	  		z-index: 2;
	  		left: 0;
	  		top: 9px;
	  	}
	  }
	}
	ol{
		font-size: 16px;
	  line-height: 1.5;
	  color: #4a4a4a;
	  margin-bottom: 30px;
	  list-style: decimal;
	  padding-left: 20px;
	}
	&_blue{
		blockquote{
			background: #ccebfe;
		}
	}
}
.mobile-order{
	a{
		display: block;
		background: $yellow;
		font-size: 14px;
	  font-weight: 500;
	  line-height: 1.71;
	  text-align: center;
	  color: #4a4a4a;
	  padding: 8px 0;
	  text-transform: uppercase;
	}
	&_blue{
		a{
			background: #ccebfe;
		}
	}
}
.count-order{
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 24px;
	margin-left: 8px;
}
.sidebar-btn{
	cursor: pointer;
	background: $yellow;
	font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: center;
  color: #4a4a4a;
  padding: 8px;
  text-transform: uppercase;

  &_blue{
  	background: $blue;
  	color: #fff;
  }
}